Source: xenta-common
Section: admin
Priority: optional
Maintainer: Dindin Hernawan (Xenta OS) <root@dev.xentaos.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.7
Homepage: https://github.com/xentaos/xenta-common
Vcs-Browser: https://github.com/xentaos/xenta-common.git

Package: xenta-common
Architecture: all
Depends: python (>= 2.4), python (<< 3),
         python-gi,
         xenta-translations,
         synaptic,
         ${misc:Depends},
Description: Paket Pasangan Script untuk Xenta OS.
 Sebuah Koleksi dan Pustaka yang digunkan Untuk
 Sistem Operasi Xenta OS.
